// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Import fonts
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Chivo");

// Set your colors
$yellow: #FFEF9F;
$yellow-light: findLightColor($yellow);
$yellow-dark: findDarkColor($yellow);
$yellow-invert: findColorInvert($yellow);

$yellow-1: #FFF8D4;
$yellow-light-1: findLightColor($yellow-1);
$yellow-dark-1: findDarkColor($yellow-1);
$yellow-invert-1: findColorInvert($yellow-1);

$yellow-2: #FFE97B;
$yellow-light-2: findLightColor($yellow-2);
$yellow-dark-2: findDarkColor($yellow-2);
$yellow-invert-2: findColorInvert($yellow-2);

$yellow-3: #D9CC8A;
$yellow-light-3: findLightColor($yellow-3);
$yellow-dark-3: findDarkColor($yellow-3);
$yellow-invert-3: findColorInvert($yellow-3);

$green: #4DCCBD;
$green-light: findLightColor($green);
$green-dark: findDarkColor($green);
$green-invert: findColorInvert($green);

$green-1: #94E4DB;
$green-light-1: findLightColor($green-1);
$green-dark-1: findDarkColor($green-1);
$green-invert-1: findColorInvert($green-1);

$green-2: #4CE5D3;
$green-light-2: findLightColor($green-2);
$green-dark-2: findDarkColor($green-2);
$green-invert-2: findColorInvert($green-2);

$green-3: #45B5A7;
$green-light-3: findLightColor($green-3);
$green-dark-3: findDarkColor($green-3);
$green-invert-3: findColorInvert($green-3);

$red: #D9534F;
$red-light: findLightColor($red);
$red-dark: findDarkColor($red);
$red-invert: findColorInvert($red);

$red-1: #E89593;
$red-light-1: findLightColor($red-1);
$red-dark-1: findDarkColor($red-1);
$red-invert-1: findColorInvert($red-1);

$red-2: #FB5C58;
$red-light-2: findLightColor($red-2);
$red-dark-2: findDarkColor($red-2);
$red-invert-2: findColorInvert($red-2);

$red-3: #AB433F;
$red-light-3: findLightColor($red-3);
$red-dark-3: findDarkColor($red-3);
$red-invert-3: findColorInvert($red-3);

$brown: #AD663D;
$brown-light: findLightColor($brown);
$brown-dark: findDarkColor($brown);
$brown-invert: findColorInvert($brown);

$brown-1: #BB8C72;
$brown-light-1: findLightColor($brown-1);
$brown-dark-1: findDarkColor($brown-1);
$brown-invert-1: findColorInvert($brown-1);

$brown-2: #CF713C;
$brown-light-2: findLightColor($brown-2);
$brown-dark-2: findDarkColor($brown-2);
$brown-invert-2: findColorInvert($brown-2);

$brown-3: #8E5432;
$brown-light-3: findLightColor($brown-3);
$brown-dark-3: findDarkColor($brown-3);
$brown-invert-3: findColorInvert($brown-3);

$primary: #4099FF;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

.headline-1{
    font-size: 96px;
    font-weight: lighter;
    font-family: "Chivo";
}

.headline-2{
    font-size: 60px;
    font-weight: lighter;
    font-family: "Chivo";
}

.headline-3{
    font-size: 48px;
    font-weight: normal;
    font-family: "Chivo"; 
}

.headline-4{
    font-size: 34px;
    font-weight: normal;
    font-family: "Chivo";
}

.headline-5{
    font-size: 24px;
    font-weight: normal;
    font-family: "Chivo";
}

.headline-6{
    font-size: 20px;
    font-weight: bold;
    font-family: "Chivo";
}

.subtitle-1{
    font-size: 16px;
    font-weight: normal;
    font-family: "Chivo";
}

.subtitle-2{
    font-size: 14px;
    font-weight: bold;
    font-family: "Chivo";
}

.body-1{
    font-size: 16px;
    font-weight: normal;
    font-family: "Roboto";
}

.body-2{
    font-size: 14px;
    font-weight: normal;
    font-family: "Roboto";
}

.button{
    font-size: 14px;
    font-weight: normal;
    font-family: "Roboto";
}

.caption{
    font-size: 12px;
    font-weight: normal;
    font-family: "Roboto";
}

.overline{
    font-size: 10px;
    font-weight: normal;
    font-family: "Roboto";
}

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "yellow":(
          $yellow,
          $yellow-light,
          $yellow-dark,
          $yellow-invert,
        ),
        "yellow-1":(
          $yellow-1,
          $yellow-light-1,
          $yellow-dark-1,
          $yellow-invert-1,
        ),
        "yellow-2":(
          $yellow-2,
          $yellow-light-2,
          $yellow-dark-2,
          $yellow-invert-2,
        ),
        "yellow-3":(
          $yellow-3,
          $yellow-light-3,
          $yellow-dark-3,
          $yellow-invert-3,
        ),
        "green":(
          $green,
          $green-light,
          $green-dark,
          $green-invert,
        ),
        "green-1":(
          $green-1,
          $green-light-1,
          $green-dark-1,
          $green-invert-1,
        ),
        "green-2":(
          $green-2,
          $green-light-2,
          $green-dark-2,
          $green-invert-2,
        ),
        "green-3":(
          $green-3,
          $green-light-3,
          $green-dark-3,
          $green-invert-3,
        ),
        "red":(
          $red,
          $red-light,
          $red-dark,
          $red-invert,
        ),
        "red-1":(
          $red-1,
          $red-light-1,
          $red-dark-1,
          $red-invert-1,
        ),
        "red-2":(
          $red-2,
          $red-light-2,
          $red-dark-2,
          $red-invert-2,
        ),
        "red-3":(
          $red-3,
          $red-light-3,
          $red-dark-3,
          $red-invert-3,
        ),
        "brown":(
          $brown,
          $brown-light,
          $brown-dark,
          $brown-invert,
        ),
        "brown-1":(
          $brown-1,
          $brown-light-1,
          $brown-dark-1,
          $brown-invert-1,
        ),
        "brown-2":(
          $brown-2,
          $brown-light-2,
          $brown-dark-2,
          $brown-invert-2,
        ),
        "brown-3":(
          $brown-3,
          $brown-light-3,
          $brown-dark-3,
          $brown-invert-3,
        ),
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";